{% extends 'base.html' %}

{% block title %}Для Ситхов{% endblock %}

{% block content %}

    {% if for_siths %}
        <h1 class="mb-5">Выбери себя, Ситх!</h1>
        {% for a in for_siths %}
            <div class="card">
                <div class="card-header">
                    <h4>{{a.sith_name}}</h4>
                </div>
                <div class="card-body">
                    <h7 class="card-title">Планета обитания: {{a.sith_planet}}</h7>
                    <p class="card-text">Конечностей смерти: {{a.shadow_hand}}</p>
                    <a href="#" class="btn btn-dark">Выбрать себя</a>
                </div>
            </div>


        {% endfor %}

    {% else %}
        Ситхи не найдены :(
    {% endif %}

{% endblock %} 